@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+MX+Guides&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');

.headerbg { margin: 0; overflow: hidden; background: #000; }
.headerbg{
  position: relative;
  top: -5px;
  left: -5px;
  width: 99vw;
  height: 99vh;
}
.info-card{
  position: absolute;
  top: 13vh;
  right: 5vw;
/*   background-color: #FF7F50; */
  width: 22vw;
  height: 70vh;
  perspective: 1000px;
}
.flip-inner{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* keeps front & back in 3D */
  transition: transform 1s; /* animation duration */
}
.flip-front, .flip-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* hides the other side when turned */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flip-front span{
  font-family: "Playwrite México Guides", sans-serif;
  font-size: 30px;
  color: #fff;
}
.flip-front span1{
  font-family: "Playwrite México Guides", sans-serif;
  font-size: 30px;
  color: #fff;
}
.flip-front{
  background: coral;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  color: #fff;
}
.flip-back{
  background: teal;
  transform: rotateY(180deg); /* start flipped */
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  color: #fff;
}
/* .flip-front #changeView { */
.flip-front .changeView {
  position: relative;
  padding: 8px 12px;
  color: white;
  background: rgba(255,255,255,0.1);
  border: 1px solid white;
  cursor: pointer;
}
/* #changeView input:checked + .flip-inner {
  transform: rotateY(180deg);
} */
/* #changeView input:checked + .flip-inner.rotate360 {
  transform: rotateY(360deg);
} */
/* .flip-back #changeView{ */
.flip-back .changeView{
  position: absolute;
  top: 10px;
  left: 10px;
/*   width: 20px;
  height: 20px; */
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  pointer-events: auto;
  cursor: pointer;
}
/* .flip-back #changeView .back-arrow{ */
/* .flip-back #changeView{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.info-card #flip-toggle{
  display: none; /* hides it fully */
}
#flip-toggle:checked + .flip-inner {
  transform: rotateY(180deg);
}

