.info-card{
  position: relative;
  top: 100px;
  right : 50px;
  width: 30vw;
  height: 70vh;
}
.info-card button {
  padding: 8px 12px;
  color: white;
  background: rgba(255,255,255,0.1);
  border: 1px solid white;
  cursor: pointer;
}
