.headerbg { margin: 0; overflow: hidden; background: #000; }
.headerbg{
  position: relative;
  top: -5pv;
  left: -5px;
  width: 99vw;
  height: 99vh;
}
.info-card{
  position: absolute;
  top: 13vh;
  right: 5vw;
  background-color: #FF7F50;
  width: 22vw;
  height: 70vh;
}
.info-card button {
  padding: 8px 12px;
  color: white;
  background: rgba(255,255,255,0.1);
  border: 1px solid white;
  cursor: pointer;
}
